@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}


.container header .filterEntries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter {
  margin-top: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
}


.filter label {
  color: #69b4fa;
  margin-right: 10px; 

}

.filter input[type="search"] {
  padding: 7px 10px; 
  border: 1px solid #69b4fa; 
  color: #69b4fa; 
  background: #fff; 
  border-radius: 5px; 
  outline: none; 
  transition: 0.3s; 
  cursor: pointer;
}

.filter input[type="search"]::placeholder {
  color: #69b4fa; 
}

.filter input[type="search"]:focus {
  border-color: #007bff; 
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card__info {
  margin-bottom: 10px;
}

.card__category {
  color: #69b4fa;
  font-size: 14px;
}

.card_link {
  text-decoration: none;
  color: #69b4fa;
}

.card__title {
  font-size: 20px;
  margin-bottom: 5px;
  color: #000000;
}

.card__by {
  font-size: 14px;
  color: #69b4fa;
}

.card__author {
  color: #007bff;
  text-decoration: none;
}
