* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
   
}
.search-container {
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 20px;
    text-align: center; 
}

.search-container input[type="text"] {
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.search-container input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}




header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #69b4fa;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #69b4fa;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

thead {
    background-color: #69b4fa;
    color: #fff;
}

thead th,
tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #69b4fa;
}

tbody tr:nth-child(even) {
    background-color: #f3fbff;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
    }
}
