@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    --border-color: #fff;
    color: #222;
    background-color: #fff;
    font-family: Poppins;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.login {
    background-color: #efefef;
    width: 270px;
    text-align: center;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    padding: 50px 30px;
    box-shadow: 0 50px 150px rgba(253, 253, 253, 0.2);
    position: relative;
}

.login .logo, .login .group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .logo .item img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.login .group {
    background-color: var(--border-color);
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
}

.login .group input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 20px;
    font-family: Poppins;
    outline: none;
}

.login .group span {
    color: #777;
    display: flex;
    margin-right: 15px;
    cursor: pointer;
}

.login .group span ion-icon:nth-child(2) {
    display: none;
}

.login .group span.show ion-icon:nth-child(2) {
    display: block;
}

.login .group span.show ion-icon:nth-child(1) {
    display: none;
}

.login .signIn button {
    background-color: #69b4fa;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-family: Poppins;
    box-shadow: 0 10px 20px #69b4fa99;
    margin-bottom: 40px;
    transition: 0.5s;
    color: #fff;
}

.login .signIn button:active {
    box-shadow: none;
    transform: translateY(5px);
}
